@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  display: grid;
  font-family:'Squada One', cursive;
  background-image: url(/img/world-map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .9;

}

.main {
  display: inline-grid;
  grid-template-columns: auto 1fr 4fr 1fr auto;
  grid-template-rows: 1rem 8rem 30rem 8rem;
}

#title {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 5;
}

#title h1 {
  color: darkred;
  margin-top: 0px;
  font-size: 4rem;
}

#instructions-title h2 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  padding-top: 15px;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.countries ul {
  height: 30rem;
  /* width: 200px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}

.draggable-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.draggable-list li {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  background-color: white;
  margin-bottom: 15px;
  margin-right: 20px;
  box-shadow: 2px 4px grey;
}


.flag img {
  height: 100px;
  width: 150px;  
}

.flag {
  display: flex;
}

.draggable-list li.over .draggable {
  background-color: #eaeaea;
}

.draggable-list .country-name {
  margin: 0 20px 0 0;
}

.draggable-list li.right .country-name {
  color: #3ae374;
}

.draggable-list li.wrong .country-name {
  color: #ff3838;
}

.draggable {
  display: grid;
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  padding-top: 0px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 150px;
  margin-top: 0px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.draggable img {
  align-items: right;
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn:focus {
  outline: none;
}

.country-name {
  display: flex;
  padding-left: 10px;
}

.icon {
  display: flex;
  align-items: right;
}

.flag span {
  display: block;
  width: 600px;
}

.check-btn {
  display: flex;
  width: 10rem;
  height: 3rem;
  grid-row-start: 4;
  grid-column-start: 3;
  padding-bottom: 40px;
  padding-top: 20px;
  background-color: #fff;
  box-shadow: 2px 4px grey;
  border-radius: 4px 4px;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn:focus {
  outline: none;
}